*{
    color: orange;
}
form{
    color: blue;
}
#box{
    background-color: orange;
}
.myclass{
    background-color: brown;
    color:aliceblue;
}
.heading{
    color: red;
}
button{
  background-color:yellow ;  
}
p{
    text-align: left;
    text-transform: capitalize;
}
h2{
    text-decoration: brown  dotted underline;
}h2{
    font-weight: normal;
    font-family: arial;
}
#one{
    font-size: 50px;
}